100 Days of code 
Assignment 1 process by 31/1
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
}

a {
    margin-top: 15px;
    display: inline-block;
}

#message{
    color: red;
    font-size: 13px;
}

#optionsWrapper{
    font-size: 15px;
}

#adTitle{
    margin: 0;
}
//Check if this is actually the Google search engine and not some other google site.
function isSearch(){
    const classname = document.getElementsByClassName("RNNXgb"); //Class present on one of the divs of the Google search bar.

    if(classname != undefined && classname != null)
        return true;
    else
        return false;
}

Assignment 1 process by 1/2 
console.log("program.js loaded");
// console.log(document.location.origin);

function dynamicallyLoadScript(url) {
    var script = document.createElement("script");  
    // create a script DOM node
    script.src = url;  
    // set its src to the provided URL

*.link{
    font-size: 13px;
    margin-top: 1px;
}*/

#defaultSettings{
    margin-top: 15px;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;

    top: 5px;
    left: 250%;
  }

  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;

