100 Days of code 
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
}

a {
    margin-top: 15px;
    display: inline-block;
}

#message{
    color: red;
    font-size: 13px;
}

#optionsWrapper{
    font-size: 15px;
}

#adTitle{
    margin: 0;
}
//Check if this is actually the Google search engine and not some other google site.
function isSearch(){
    const classname = document.getElementsByClassName("RNNXgb"); //Class present on one of the divs of the Google search bar.

    if(classname != undefined && classname != null)
        return true;
    else
        return false;
}

console.log("program.js loaded");
// console.log(document.location.origin);

function dynamicallyLoadScript(url) {
    var script = document.createElement("script");  
    // create a script DOM node
    script.src = url;  
    // set its src to the provided URL
